:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.logo {
  color: var(--accent-color);
  text-decoration: none;
}
/* Site nav */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* Header contacts */
.header-contacts .link {
  color: var(--title-text-color);
}
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}
